{% extends 'adminbase.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Kategori Ayrıntı</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">


                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th>Parentid</th>
                            <td>{{ category.parentid }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ category.title }}</td>
                        </tr>
                        <tr>
                            <th>Keywords</th>
                            <td>{{ category.keywords }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ category.description }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>{{ category.image }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ category.status }}</td>
                        </tr>

                        </tbody>
                    </table>


                    <a href="{{ path('category_edit', {'id': category.id}) }}">
                        <button class="btn bg-gradient-primary btn-sm">düzenle</button>
                    </a>
                    {{ include('admin/category/_delete_form.html.twig') }}
                    <br>
                    <a href="{{ path('category_index') }}">
                        <img src="{{ asset('assets') }}/admin/dist/img/back-arrow.png"></a>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock %}
